src/date_translator.egg-info/dependency_links.txt
src/date_translator.egg-info/not-zip-safe
src/date_translator.egg-info/PKG-INFO
src/date_translator.egg-info/requires.txt
src/date_translator.egg-info/SOURCES.txt
src/date_translator.egg-info/top_level.txt
.DS_Store